<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Supermercado Dany : Atributo</title>
</head>
<body class="fundo">
    <header>
        <div class="container">
            <div class="logo">
                <a href="/index.html">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="#">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">hortifruti</a></li>
                        <li><a href="/assets/view/mercearia.html">mercearia</a></li>
                        <li><a href="/assets/view/açougue.html">açougue</a></li>
                        <li><a href="/assets/view/bebidas.html">bebidas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="attribute">
        <section class="body atributo">
            <div class="container">
                <div class="att_title">Um pouco sobre nós</div>
                <div class="att_icon">
                    <img src="../img/quote.png" alt="">
                </div>
                <div class="att_cont">
                    <div class="att_cont_desc">
                        <ul>
                            <li>Oferecer produtos e serviços com qualidade comprovada e com preços justos, buscando a satisfação total de seus clientes.</li><br>
                            <li>Buscamos ser um Supermercado reconhecido pela total satisfação de seus clientes, no que diz respeito à procedência de seus produtos comercializados e a qualidade na prestação de serviços</li><br>
                            <li>O nosso objetivo e proporcionar satisfação aos clientes em todos os aspectos, principalmente, quanto ao atendimento</li><br>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>