<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Supermercado Dany : Açougue</title>
</head>
<body class="fundo">
    <header>
        <div class="container">
            <div class="logo">
                <a href="/index.html">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">hortifruti</a></li>
                        <li><a href="/assets/view/mercearia.html">mercearia</a></li>
                        <li><a href="#">açougue</a></li>
                        <li><a href="/assets/view/bebidas.html">bebidas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="higiene">
        <section class="body açou">
            <div class="container">
                <div class="widget-title">
                    <div class="widget-title-text">Bovinos</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/picanha.png" alt="picanha">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Picanha 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/contra-file.png" alt="contrafilé">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Contrafilé 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/alcatra.png" alt="alcatra">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Alcatra 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/baby_beef.png" alt="baby beef">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Baby Beef 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products"> 
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/cochão_mole.png" alt="cochão mole">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cochão Mole 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/patinho.png" alt="patinho">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Patinho 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/coxao_duro.png" alt="coxão duro">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Coxão Duro 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/costela-bovina.png" alt="costela bovina">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Costela Bovina 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/fraldinha.png" alt="fraldinha">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Fraldinha 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/acem.png" alt="acém">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Acém 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/capa_file.png" alt="capa do file">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Capa do Filé 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/musculo.png" alt="musculo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Musculo 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">Suíno</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/bisteca-suina.png" alt="bisteca suina">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bisteca Suína 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/costela-suina.png" alt="costela suina">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Costela Suína 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/Panceta.png" alt="Panceta">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Panceta 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/toucinho.png" alt="toucinho">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Toucinho 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/copa_lombo.png" alt="copa do lombo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Copa do Lombo 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/pernil_suino.png" alt="pernil">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Pernil 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/lombo-suino.png" alt="Lombo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Lombo 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/bacon.png" alt="bacon">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bacon 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div> 
                <div class="widget-title">
                    <div class="widget-title-text">frango</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/frango.png" alt="frango">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Frango Resfriado 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/peito_frango.png" alt="peito de frango">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Peito de Frango 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/coxinha.png" alt="coxinha da asa">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Coxinha da Asa 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/asa.png" alt="asa de frango">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Asa de Frango 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">linguiça</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/linguiça.png" alt="linguiça suína">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Linguiça Suína 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/linguiça_fina.png" alt="linguiça suína fina">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Linguiça Fina Suína 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/linguiça_frango.png" alt="linguiça de frango">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Linguiça de Frango 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/açougue/linguica_calabresa.png" alt="linguiça calabresa">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Linguiça Calabresa 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>