<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Supermercado Dany : Bebidas</title>
</head>
<body class="fundo">
    <header>
        <div class="container">
            <div class="logo">
                <a href="/index.html">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">hortifruti</a></li>
                        <li><a href="/assets/view/mercearia.html">mercearia</a></li>
                        <li><a href="/assets/view/açougue.html">açougue</a></li>
                        <li><a href="#">bebidas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main_açougue nat">
        <section class="body beb">
            <div class="container">
                <div class="widget-title">
                    <div class="widget-title-text">bebidas em geral</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/coca_cola.png" alt="coca cola">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Refrigerante Coca Cola 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/fanta.png" alt="fanta">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Refrigerante Fanta 2L Diversos Sabores 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/Guaraná-Antarctica.png" alt="guaraná">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Refrigerante Guaraná Antarctica 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/pepsi.png" alt="pepsi">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Refrigerante Pepsi 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/coca_lata.png" alt="coca lata">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Coca Cola em Lata 350ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/fanta_lata.png" alt="fanta lata">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Fanta Lata Diversos Sabores 350ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/guarana_lata.png" alt="guarana lata">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Guaraná Lata 350ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/pepsi_lata.png" alt="pepsi lata">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Pepsi Lata 350ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/del-valle.png" alt="del valle">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Suco Del Valle 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/suco-marata.png" alt="suco marata">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Suco Maratá 200ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/todinho.png" alt="todinho">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Achocolatado Toddynho 200ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/leitbom.png" alt="leitbom">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                LeitBom 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/agua.png" alt="agua mineral">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Água Mineral 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/agua_coco.png" alt="agua de cocô">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Água de Cocô 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/agua_gas.png" alt="agua com gas">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Água com Gás 500ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/iogurte.png" alt="iogurte">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Iogurte Nestlé 1,25kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">cerveja</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/antarctica.png" alt="cerveja antarctica">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Antarctica 12 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/brahma.png" alt="brahma">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Brahma 12 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/skol.png" alt="skol">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Skol 12 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/itaipava.png" alt="itaipava">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Itaipava 12 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/budweiser.png" alt="cerveja budweiser">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Budweiser 6 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/Imperio.png" alt="imperio">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Imperio 12 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/heineken.png" alt="heineken">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Heineken 6 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/sol.png" alt="sol">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Sol 6 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">cachaça</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/cachaça-51.png" alt="cachaça 51">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cachaça Pirassununga 51 965ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/velho-barreiro.png" alt="velho barreiro">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cachaça Velho Barreiro 910ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/paratudo.png" alt="paratudo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cachaça Paratudo Raiz Amarga 700ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/ypioca.png" alt="ypióca">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cachaça Ypióca Ouro 965ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/smirnoff.png" alt="smirnoff">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Vodka Smirnoff 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/presidente.png" alt="presidente">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Conhaque Presidente 970ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/rustoff.png" alt="rustoff">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Vodka Rustoff 970ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/montilla.png" alt="montilla">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Rum Montilla 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">Energético</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/monster.png" alt="monster">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Monster 473ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/tnt.png" alt="tnt">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético TNT 269ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/redbull.png" alt="red bull">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Red Bull 250ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/power_lata.png" alt="extra power">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Extra Power 270ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/vulcano.png" alt="vulcano">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Vulcano 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/baly.png" alt="baly">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Baly 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/extra_power.png" alt="extra power">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Extra Power 2L 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/ultra_power.png" alt="ultra power">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Ultra Power 2L 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">Whisky</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/red-label.png" alt="whisky red label">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky Johnnie Walker Red Label 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/Old-Parr.png" alt="whisky old parr">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky Old Parr 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/white-horse.png" alt="whisky white horse">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky White Horse 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/buchanan.png" alt="whisky buchanan's deluxe">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                whisky Buchanan's Deluxe 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/chivas.png" alt="whisky chivas">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky Chivas Regal 12 Anos 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/ballantines.png" alt="whisky ballantines">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky Ballantines Finest 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/jack_daniels.png" alt="whisky jack daniels">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky Jack Daniel's 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/passport.png" alt="whisky passport scotch">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky Passport Scotch 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>