<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Supermercado Dany : Hortifruti</title>
</head>
<body class="fundo">
    <header>
        <div class="container">
            <div class="logo">
                <a href="/index.html">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="#">hortifruti</a></li>
                        <li><a href="/assets/view/mercearia.html">mercearia</a></li>
                        <li><a href="/assets/view/açougue.html">açougue</a></li>
                        <li><a href="/assets/view/bebidas.html">bebidas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="body hort">
            <div class="container">
                <div class="widget-title">
                    <div class="widget-title-text">frutas</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/banana.png" alt="banana">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Banana 1kg.
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/maçã.png" alt="maçã">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Maçã 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/laranja.png" alt="laranja">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Laranja 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/maracuja.png" alt="maracuja">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Maracuja 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/abacate.png" alt="abacate">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Abacate 1kg.
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/abacaxi.png" alt="abacaxi">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Abacaxi UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/melancia.png" alt="melancia">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Melancia 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/mamao.png" alt="mamão">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Mamão 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">legumes</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/tomate.png" alt="tomate">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Tomate 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/cenoura.png" alt="cenoura">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cenoura 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/beterraba.png" alt="beterraba">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Beterraba 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/abobora_cabotia.png" alt="abóbora cabotiá">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Abóbora Cabotiá 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div> 
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/batata-inglesa.png" alt="batata inglesa">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Batata Inglesa 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/mandioca.png" alt="Mandioca">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Mandioca 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/batata_doce.png" alt="batata doce">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Batata Doce 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/jilo.png" alt="jiló">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Jiló 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">verduras</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/coentro.png" alt="Coentro">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Coentro UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/alface.png" alt="Alface">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Alface UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/repolho.png" alt="Repolho">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Repolho UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/brocolis.png" alt="Brócolis">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Brócolis UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>