<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Supermercado Dany : Mercearia</title>
</head>
<body class="fundo">
    <header>
        <div class="container">
            <div class="logo">
                <a href="/index.html">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">hortifruti</a></li>
                        <li><a href="#">mercearia</a></li>
                        <li><a href="/assets/view/açougue.html">açougue</a></li>
                        <li><a href="/assets/view/bebidas.html">bebidas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main_açougue">
        <section class="body merc">
            <div class="container">
                <div class="widget-title">
                    <div class="widget-title-text">não pereciveis</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/feijao.png" alt="feijão">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Feijão Gol 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/arroz.png" alt="arroz">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Arroz Tio Urbano 1 - 5kg 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/mac.png" alt="macarrão">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Macarrão Cristal 500g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/oleo.png" alt="óleo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Óleo de Girassol 900ml 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/açucar.png" alt="açucar">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Açucar Cristal 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/fuba.png" alt="fuba">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Fubá 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/suco.png" alt="suco">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Suco Tang Pacote de 25g Diversos Sabores
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/nissin.png" alt="miojo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Nissin Miojo 85g Diversos Sabores
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/margarina.png" alt="margarina">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Margarina Qualy 250g 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/milho.png" alt="milho em latado">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Milho Verde 170g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/sardinha.png" alt="sardinha em lata">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Sardinha em Lata 125g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/ervilha.png" alt="ervilha em lata">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Ervilha em Lata 170g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">lanches</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/rufles.png" alt="rufles">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Rufles 115g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/fandangos.png" alt="fandangos">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgadinho Fandangos 45g Diversos Sabores.
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/doritos.png" alt="doritos">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Doritos 84g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/crony.png" alt="crony">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Crony 45g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/passatempo1.png" alt="passatempo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Biscoito Passatempo 130g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/bono-prod.png" alt="bono">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Biscoito Bono 126g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/oreo.png" alt="oreo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Biscoito Oreo 90g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/bauducco.png" alt="bauducco">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Biscoito Bauducco 140g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/cream-cracker.png" alt="cream cracker">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Biscoito Cream Cracker Mabel 400g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/rosquinha.png" alt="rosquinha rancheiro">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Rosquinha Rancheiro 400g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/bolacha-leite.png" alt="bolacha ao leite">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Biscoito ao Leite Mabel 400g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/marilan.png" alt="bolacha amanteigada">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Biscoito Amanteigado Marilan 280g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="widget-title">
                    <div class="widget-title-text">Limpeza</div>
                    <div class="widget-title-bar"></div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/omo.png" alt="sabão em pó">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Sabão em pó Omo 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/detergente-ypê.png" alt="detergente ypé">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Detergente Ypê 500ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/qboa lançamentos.png" alt="qboa">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Qboa 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/amaciante.png" alt="amaciante">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Amaciante de Roupas Ypê 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/bombril.png" alt="bom bril">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Palha de Aço Bom Bril 60g
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/alvejante.png" alt="alvejante">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Alvejante Vanish 1.5L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/sabão_barra.png" alt="sabão em barra">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Sabão em Barra Ypê 1kg
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/desinfetante_pinho.png" alt="desinfetante pinho">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Desinfetante Pinho Sol Lavanda 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/personal.png" alt="papel higiênico">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Papel Higiênico Pesonal 16 UND 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/ype.png" alt="sabonete ypé">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Sabonete Ypê Flores UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/shampoo.png" alt="shampoo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Shampoo Tresemmé 400ml
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/bom_ar.png" alt="bom ar lavanda">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bom Ar Lavanda 360ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>